.container {
    display: flex;
    flex-direction: row; 
    margin-top: 56px; 
    padding: 0; 
    margin: 0; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 76px 0 0 0; 
    background-color: #121212;
    overflow-y: auto; 
    font-size: 20px;
    font-family: 'VT323', sans-serif;
    margin: 0; 
}

.sidebar ul {
    list-style: none; 
    margin-right: 50px;
}

.sidebar li {
    margin: 0 0 10px 0; 
    width: 100%;
    display: block;
}

.sidebar a {
    text-decoration: none; 
    color: #33FF00;
    font-size: 30px;    
}

.sidebar li.active {
    background-color: #33FF00;
    width: 100%;
}

.sidebar li.active a{
    color: #d600d6;
}

.sidebar li.active:hover a{
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline; 
    color: #d600d6;
}

.markdownContent {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    text-align: justify;
}

.markdownContent :is(h1, h2, h3 ,h4, h5, h6) {
    font-family: 'VT323', sans-serif;
    font-weight: normal;
    color: black;
}

.markdownContent p {
    font-size: 20px;
    color: black;
}

.markdownContent :is(ul, li) {
    font-size: 20px;
    color: black;
}

.navButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navButtons button {
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 0;
    background-color: black;
    font-family: 'VT323';
    font-size: 22px;
    color: #33FF00;
    text-align: center;
    transition: transform 0.25s ease;
}

.navButtons button:hover {
    cursor: pointer;
}

.navButtons button:hover.left {
    transform: translateX(-10px); 
}

.navButtons button:hover.right{
    transform: translateX(10px); 
}

.navButtons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: grey;
}

.burger {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    position: fixed; 
    top: 70px; 
    z-index: 1;
    color: #33FF00;
    background-color: black;
}

.burger:hover {
    color: #d600d6;
    background-color: #33FF00;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .container{
        margin: 0;
        padding: 0;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px; 
        height: 100%; 
        background-color: #121212; 
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar a {
        font-size: 30px;    
    }

    .sidebar.open {
        transform: translateX(0); 
    }

    .burger {
        display: block; 
    }

    .main {
        margin-left: 0; 
        margin-top: 40px; 
    }

    .navButtons {
        padding: 0 20px 0 20px;
    }

    .navButtons button {
        font-size: 22px;
        width: 120px;
        height: 50px;
    }

    .navButtons button:hover.left {
        transform: none; 
    }
    
    .navButtons button:hover.right{
        transform: none; 
    }
}

/*
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px; 
        height: 100%; 
        background-color: #8DC8E8; 
        padding-top: 76px; 
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar.open {
        transform: translateX(0); 
    }

    .hamburger {
        display: block; 
    }

    .main {
        margin-left: 0; 
        margin-top: 40px; 
    }
}
*/
