.blogContainer {
    max-width: 800px; 
    margin: 40px auto; 
    padding: 20px;
    line-height: 1.7; 
    text-align: justify;
    text-justify: inter-word;
}

.blogContainer h1
.blogContainer h2, 
.blogContainer h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.blogContainer h1 {
    font-size: 36px;
    font-weight: bold;
}

.blogContainer h2 {
    font-size: 28px;
}

.blogContainer h3 {
    font-size: 25px;
}


.blogContainer h4 {
    font-size: 20px;
}

.blogContainer p, 
.blogContainer ul, 
.blogContainer ol {
    margin-bottom: 16px;
    padding-left: 10px; 
}

.blogContainer ul {
    list-style-type: disc;
}

.blogContainer ol {
    list-style-type: decimal;
}

.blogContainer pre {
    padding: 12px;
    margin: 16px 0;
    border-radius: 6px;
    background: #f5f5f5;
}

.blogContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.blogContainer table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are merged */
    border: 2px solid #000; /* Outline for the entire table */
}

.blogContainer th {
    border: 1px solid #000; /* Border for header cells */
    padding: 10px;
    background-color: #f2f2f2; /* Light gray background for headers */
    text-align: left;
}

.blogContainer td {
    border: 1px solid #000; /* Border for data cells */
    padding: 10px;
}

.blogContainer tr:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
}
