body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: white !important;
    color: black !important;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'VT323'; 
    src: url('/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
