.sectionContainer {
    display: flex;
    flex-direction: column;
}

.sectionContent {
    width: 100%;
    color: white;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*gap: 450px;*/
}

.sectionContent .textContent {
    text-align: justify;
    max-width: 500px;
}

.sectionContent .textContent button{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border-radius: 30px;
    border: 0;
    background-color: lightblue;
}

.sectionContent .textContent button:hover{
    background-color: blue;
}

.sectionContent .imgContent {
    display: flex;
    flex-direction: column;
}

.sectionContent h3 {
    font-family: 'VT323', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.sectionContent p {
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    margin-top: 0;
    font-family: 'VT323', sans-serif;
}

.sectionWelcome {
    background-color: #FFA500;
}

.sectionEda {
    background-color: #d10202;
}

.sectionObi {
    background-color: #0000a3;
}

.sectionIntro {
    background-color: #22c722;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (min-width: 1440px) {
}
