.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border: 1px #231f20;
    border-radius: 5px;
    margin: 0;
    padding: 30px;
    font-family: 'VT323', sans-serif;
    font-size: 22px;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transform: translateY(-10px);
}

.cardEda {
    background-color: #22c722;
}

.cardObi {
    background-color: #0000a3;
}

.cardIntro {
    background-color: #d10202;
}

.container {
    padding: 2px 16px;
    color: #ffffff;
}

.center {
    display: block;
    width: 50%;
}

@media (max-width: 768px) {
    .card {
        width: 40%;
        flex: 0 0 45%;
        padding: 50px;
        margin: 10px; 
    }
    
    .container {
        padding: 16px;
    }
    
    .center {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%; 
        flex: 0 0 90%;
        padding: 20px; 
        margin: 8px auto; 
    }
    
    .container {
        padding: 8px; 
    }
    
    .center {
        width: 80%; 
    }
}

@media (min-width: 1440px) {
    .card {
        width: 25%;
        flex: 0 0 25%;
    }
    
    .container {
        padding: 20px 32px;
    }
    
    .center {
        width: 40%;
    }
}
