.heading {
    text-align: center;
    margin-top: 130px;
    padding: 20px;
    font-family: 'VT323', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.paragraph {
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px 30px 10px 30px; 
    text-align: justify;
    font-family: 'VT323', sans-serif;
    font-size: 30px;
}

/*
@media (min-width: 320px) and (max-width: 480px) {
}
*/
