.navbar-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #000000;
    z-index: 1000;
    transition: transform 0.15s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-family: 'VT323', sans-serif;
    font-size: 26px;
}

.logoText:hover {
    color: #d600d6;
}

.logoText {
    font-size: 40px;
    color: #33FF00;
    text-decoration: underline;
}

.navbar-hidden {
    transform: translateY(-100%); 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 10px 130px; 
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; 
}

.topnav li {
    display: inline;
    margin-right: 40px;
}

.topnav li:last-child {
    margin-right: 0; 
}

.topnav li a {
    display: block;
    color: #33FF00;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    color: #d600d6;
}

.logoStyle {
    width: 100px;
    align-self: center;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 0 10px; 
    }

    .topnav {
        position: static; 
        transform: none; 
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        font-size: 13px !important; 
    }

    .topnav li {
        display: inline;
    }

    .topnav li a {
        padding: 10px 12px; 
    }

    .logoStyle {
        width: 80px; 
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 5px; 
    }

    .topnav {
        flex-direction: row;
        margin-top: 5px;
        font-size: 13px !important;
    }

    .topnav li{
        display: inline;
    }

    .topnav li a {
        padding: 8px 10px; 
    }

    .logoStyle {
        width: 60px; 
    }
}

@media (min-width: 1440px) {
    .navbar-container {
        padding: 0 40px; 
    }

    .topnav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }

    .topnav li a {
        padding: 16px 20px; 
    }

    .logoStyle {
        width: 120px; 
    }
}
