.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    padding: 10px 100px 10px 100px; 
    transition: transform 0.15s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-size: 26px;
    font-family: 'VT323', sans-serif;
    z-index: 1000;
    background-color: #000000;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.logoText {
    font-size: 40px;
    color: #33FF00;
    text-decoration: underline;
}

.logoText a {
    text-decoration: none;
}

.logoText:hover {
    color: #d600d6;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; 
}

.topnav li {
    display: inline;
    margin-right: 40px;
}

.topnav li:last-child {
    margin-right: 0; 
}

.topnav li a {
    display: block;
    color: #33FF00;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    color: #d600d6;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 20px;
        font-size: 28px;
    }

    .logoText {
        font-size: 30px;
    }

    .topnav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000000;
        z-index: 999;
    }

    .burger {
        display: block;
        cursor: pointer;
        font-size: 28px;
        color: #33FF00;
    }

    .topnav.active {
        display: flex;
    }

    .topnav li {
        margin: 10px 0;
        text-align: center;
    }

    .topnav li a {
        padding: 10px;
    }
}
