footer {
    width: 100%;
    background: #e2e2e2;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: auto;
}

footer h2{
    font-weight: bold;
    color: #555555;
}

.footer p {
    font-size: 16px;
    color: #343a40;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-copy {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #343a40;
}

footer a:hover {
    text-decoration: underline;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

.centerImage {
    display: block;
    margin: 0 auto; 
}

@media (min-width: 100px) and (max-width: 900px) {
    .footer-row {
        flex-direction: column;
        align-items: left;
    }

    .footer-column {
        min-width: 100px;
        padding: 5px;
    }

    .footer p {
        font-size: 10px;
        margin-top: 10px;
    }

    .footer-copy p {
        font-size: 24px;
    }

    .imageContainer {
        width: 70%;
    }

    .imageContainer img {
        width: 70%;
    }

}


@media (min-width: 1920px) {
    .imageContainer {
        width: 20%;
    }
}
