.section {
    width: 100%;
    color: white;
    background-color: #121212;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'VT323', sans-serif;
    color: #33FF00;
}

.section img {
    width: 26%;
}

.section h1 {
    font-size: 40px;
    font-weight: normal;
}

.section p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.socialRow {
    display: flex; 
    justify-content: flex-end; 
    padding: 10px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.socialRow img {
    margin: 9px;
    width: 40px;
    height: 40px;
}

.socialIcon {
    display: flex; 
    gap: 30px;
}

.socialIcon a {
    width: 80px;
    height: 80px;
    background: black;
    display: inline-flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid #33FF00;
    position: relative;
    overflow: hidden;
}

.socialIcon a::before {
    content: "";
    width: 100%; 
    height: 100%; 
    position: absolute;
    background-color: #33FF00;
    transform: scale(0);
    transition: 0.28s ease-in-out;
}

.socialIcon a:hover::before {
    transform: scale(1);
}

.socialIcon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.socialIcon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media (max-width: 768px) {
    .footer img {
        width: 40%;
    }

    .footer p {
        font-size: 12px;
        margin-top: 15px;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        min-width: 150px;
        padding: 5px;
    }

    .socialRow {
        justify-content: center;
    }

    .socialRow img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .footer img {
        width: 50%;
    }

    .footer p {
        font-size: 10px;
        margin-top: 10px;
    }

    .footer-column {
        min-width: 100px;
        padding: 5px;
    }

    .socialRow img {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1440px) {
    .footer img {
        width: 20%;
    }

    .footer p {
        font-size: 16px;
        margin-top: 25px;
    }

    .footer-row {
        justify-content: space-between;
    }

    .footer-column {
        min-width: 180px;
        padding: 15px;
    }

    .socialRow img {
        width: 50px;
        height: 50px;
    }
}
